
/* GLOBAL */
* {
    text-align: center;
    font-family: 'Raleway', Helvetica, sans-serif;
    color: #000;
}
body {
    margin: 0 0 0 0;
}
a {
    text-decoration: none;
    color: #000;
}
.clearfix {
    clear: both;
    margin: 0;
}
.hidden {
    display: none;
}


/* nav
and NAV */
nav {
    position: fixed;
    height: 40px;
    width: 100%;
    background: #fff;
    background: rgba(255,255,255,0.6);
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-transform: lowercase;
    text-align: center;
    overflow: visible;
    z-index: 999;
}
.inline-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: middle;  
}
#logo {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    margin: 0 0 0 10px;
}
.main-menu {
    display: inline-block;
    float: left;
    width: auto;
    margin: 8.5px;
}
.main-menu li {
    display: inline;
    padding: 0 0 0 15px;
    text-transform:uppercase;
    letter-spacing: 1.5px;
    font-size: 20px;
    float: left;
    font-style: normal;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    position: absolute;
    display: none;
    min-width: 100px;
    text-transform: lowercase;
    background-color: #b3ffcc;
    border-radius: 5px;
}
.dropdown-content a {
    display: block;
    font-size: 12px;
    padding: 5px; 
    text-decoration: none; 
}
.dropdown-content a:hover {
    background-color: #02C025;
    border-radius: 5px;
    color: #b3ffcc;
    text-transform: uppercase;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.menu-social {
    display: inline-block;
    font-size: 25px;
    width: auto;
    margin-top: 7px;
    margin-left: -25px;
}
.menu-social li {
    display: inline;
    padding: 0 0 0 8px;
}


/* JUMBOTRON */

.jumbotron {
    height: 660px;
    background: url("../assets/bg_forest_1280.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.jumbotron img {
    border-radius: 50%;
    border: 5px solid #fff ;  
    margin-top: 140px;
}
.jumbo-title {
    background: rgba(0,0,0,0.4);
    margin-top: -15px;
}
.jumbo-title h1 {
    font-size: 50px;
    padding-top: 9px;
}
.jumbo-title h1 a {
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
.jumbo-title h3 {
    color: #fff;
    font-size: 15px;
    margin-top: -25px;
    padding-bottom: 15px;
    font-family: 'Raleway', sans-serif;
}


/* ABOUT */

#about {
    margin: 0 auto;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-bottom: -30px;
}
.col50-left {
    width: 30%;
    float: left;
    margin-left: 20%;
    margin-top: 10px;
}
.col50-right{
    width: 30%;
    float: left;
    margin-top: 35px;
}
.text-snippet {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 0px;
    letter-spacing: 1.3px;
    line-height: 1.4em;
    font-size: 17px;
}
.text-snippet span {
    font-size: 14px;
}
#about img {
    height: 200px;
    border-radius: 50%;
    margin-top: 10px;
}
#party {
    margin-bottom: 20px;
}
#business {
    margin-bottom: 20px;
}

/* FOLIO */

/*pictures are all edited to 460px square, so they will be scaled down on all but biggest screens. Will look crisp af*/
#folio {
    padding-bottom: 30px;
    background: url("../assets/bg_forest_1280.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.folio-title {
    background: rgba(0,0,0,0.4);
}
.folio-title h1 {
    font-size: 45px;
    letter-spacing: 0.1em;
    color: #fff;
    text-transform: uppercase;
    padding-top: 15px;
    margin-bottom: 8px;
}
.folio-title p {
    width: 240px;
    margin: 0 auto;
    color: #fff;
    padding: 5px;
    margin-bottom: 5px;
    text-transform: lowercase;
    font-size: 16px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-weight: bolder;
}

.folio-filter button {
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 10px;
}
.folio-filter button:hover {
    background-color: #b3ffcc;
}
.current {
    background-color: #b3ffcc;
    border-style: none;
    outline: none;
    text-transform: uppercase;
}
.not-current {
    background-color: #fff;
    text-transform: lowercase;
}
.wrapper-gallery {
    overflow: hidden;
}
.img-square {
    width: 23%;
    padding-bottom: 23%;
    position: relative;
    float: left;
    background: #fff;
    margin-left: 1.7%;
    margin-top: 1.7%;
    border-radius: 4px;
}
.inner-square {
    position: absolute;
    left:5px;
    right:5px;
    top:5px;
    bottom:5px;
    background: #fff;
    overflow: hidden; /*makes the title box not show up down the page*/
}
.inner-square img {
    width: 100%; 
}
.inner-square .title-box {
    /*background and padding*/
    background: #000;
    background: rgba(0,0,0,0.4);
    padding: 10px;
    color: #fff;
    /*title box positioning*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -1800px; /*to hide*/
    /*title box CSS3 transition effects - to un-hide*/
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
    /*hover styles to reveal title box
separate styles for touch and no-touch env*/
body.no-touch .inner-square:hover .title-box {
    margin-bottom: 0; /*default*/
} 
body.touch .inner-square.touchFocus .title-box {
    margin-bottom: 0;  /* js at end to turn on when on touchscreen device */ 
}

/* RESUME */

.col33-base {
    float: left;
    width: 33%;
    min-width: 150px;
    padding-top: 20px;
    margin-top: 80px;
    margin-bottom: 40px;
}
.icon {
    height: 50px;
    margin-bottom: 10px;
}
.btn-default {
    display: inline-block;
    background-color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Raleway', Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: #333333;
    border: 1px solid #333333;
    padding: 10px 20px;
    cursor: pointer;
}
.btn-default:hover {
    background-color: #b3ffcc;
    box-shadow: 3px 3px 8px #888;
    border-radius: 5px;
}
.current-resume {
    background-color: #b3ffcc;
    box-shadow: 3px 3px 8px #888;
    border-radius: 5px;
    outline: none;
}
/* TABLES -- experience and education 
overflow: auto and overfow-y:hidden; generate the horizontal scroll for small screens */
table {
    margin: 0 auto;
    width: 670px;
    border-collapse: collapse;
}
#work-exp-tab {
    margin: 0 auto;
    max-width: 670px;
    overflow: auto;
    overflow-y: hidden;
}
#edu-summ-tab {
    margin: 0 auto;
    max-width: 670px;
    overflow: auto;
    overflow-y: hidden;
}
.table-title {
    font-size: 1.8em;
    padding: 0.3em;
    margin-top: 8px;
    margin-bottom: 0px;;
    color: #000;
    text-transform:uppercase;
}
th {
    border-top: 1px solid rgba(150,150,150,1);
    border-bottom: 2px solid #000;
    text-transform: capitalize;
    padding: 5px;
}
td {
    padding: 10px;
}
td a:hover {
    color: blue;
}
tr.even {
    background-color: #efefef;
}
.tyear {
    min-width: 90px;
    font-style: italic;
}
.tdescription {
    min-width: 155px;
    max-width: 355px;
    font-size: 14px;
}
tr:hover {
    background-color: #c3e6e5;
}

/* external CV link */
#resume p {
    margin: 0 auto;
    margin-top: 15px;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-style: italic;
    width: 180px;
    padding: 7px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
#resume p a {
    color: rgb(0, 38, 255);
}
#resume p a:hover {
    color: purple;
}

/* FOOTER */

footer {
    margin-top: 60px;
    height: 300px;
    background: url("../assets/bg_forest_1280.jpg");
    background-position: center;
    background-size: cover;
    
    background-attachment: fixed;
}
.footer-push {
    height: 1px;
}
.footer-container {
    height: 45px;
    background: #000;
    background: rgba(0,0,0,0.6);
    margin-top: 200px;
}
.footer-left {
    float: left;
    width: 50%;
}
.footer-left p {
    text-align: left;
    padding-left: 30px;
    color: #fff;
}
.footer-right {
    float: left;
    width: 50%;
}
.footer-right p {
    color: #fff;
    font-size: 14px;
    text-align: right;
    padding-right: 40px;
}



/*  MEDIA QUERIES */

@media only screen and (max-width: 480px) {
/* smartphone view - 1 tile*/
    
    /* Nav Bar */
    nav {
        height: 75px;
    }
    .main-menu li {
        font-size: 22px;
    }
    .table-title {
        margin-top: 30px;
    }
    .menu-contact {
        display: none;
    }
    
    /* jumbo */
    .jumbotron {
        height: 640px;
    }
    
    /* About */
    .col50-left {
        width: 100%;
        float: left;
        margin: 0 auto;
        margin-top: 30px;
    }
    .col50-right{
        width: 100%;
        float: left;
        margin: 0 auto;
    }
    .text-snippet {
        margin: 0;
    }
    #about img {
        margin-top: 10px;
    }
    
    /* Folio */
    .img-square {
        width: 97%;
        padding-bottom: 97%;
        margin-top: 3%;
    }
    
    /* resume */
    .col33-base {
        float: left;
        width: 33%;
        min-width: 100px;
        padding-bottom: 0px;
        margin-top: 25px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
/* Tablet view - 2 tiles */
    /*expanded from 481px for contact*/
    
    /* Nav Bar */
    nav {
        height: 75px;
    }
    
    /* jumbo */
    .jumbotron {
        height: 640px;
    }
    
    /* About */
    .col50-left {
        width: 50%;
        float: left;
        margin: 0 auto;
    }
    .col50-right{
        width: 50%;
        float: left;
        margin: 0 auto;
        margin-top: 20px;
    } 
    
    #about img {
        margin-top: 10px;
    }
    
    /* Folio */
    .img-square {
        width: 47.5%;
        padding-bottom: 47.5%;
        margin-top: 2%;   
    }
    
    /* resume */
        .col33-base {
        float: left;
        width: 33%;
        min-width: 150px;
        padding-bottom: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width : 1050px) and (min-width : 651px) {
/* Small Desktop & ipad - 3 tiles */
    
    /* jumbo */
    .jumbotron {
        height: 1024px;
    }
    
    /* About */
    .col50-left {
        width: 40%;
        float: left;
        margin-left: 15%;
    }
    .col50-right{
        width: 30%;
        float: left;
    }
    
    #about img {
        margin-top: 10px;
    }
    /* Folio */
    .img-square {
        width: 31%;
        padding-bottom: 31%;
    }
    /* resume */
    .col33-base {
        float: left;
        width: 33%;
        min-width: 150px;
        padding-bottom: 0px;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    
}

    
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
/* Medium Desktop and up - 4 tiles */
}

